* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 20px;
  font-family: 'Crimson Text', serif; }

body.gece {
  background: linear-gradient(to right, darkblue, dimgrey); }

body.gunduz {
  background: linear-gradient(to left, antiquewhite, grey); }

nav.gece {
  background: linear-gradient(to left, black, black); }
  nav.gece .nav-link {
    color: lime !important; }

nav.gunduz {
  background: linear-gradient(to left, white, white); }
  nav.gunduz .nav-link {
    color: darkblue !important; }

.baslik {
  text-align: center;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #482fcc; }

.bosluk {
  height: .4rem;
  background: linear-gradient(45deg, blue, red);
  margin: 0 auto 2rem;
  text-align: center; }

.yazi .yazialt {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: justify; }

svg {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 5rem; }

section#mycontact {
  background: url("../img/1.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 91vh;
  width: 100%; }
  section#mycontact .form_box {
    position: relative;
    width: 50%;
    height: 80%;
    background: transparent;
    border: 2px solid white;
    border-radius: 1rem;
    backdrop-filter: blur(0.3rem);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; }
    section#mycontact .form_box .form_value form {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: center; }
      section#mycontact .form_box .form_value form h2 {
        font-size: 1.5rem;
        text-align: center;
        grid-column: 1 / span 2; }
      section#mycontact .form_box .form_value form .inputbox {
        position: relative;
        margin: 1.5rem 1.5rem 1.5rem 0;
        width: 17.5rem;
        border-bottom: .1rem solid #fff; }
        section#mycontact .form_box .form_value form .inputbox ion-icon {
          position: absolute;
          right: 8px;
          top: 17px;
          font-size: 1.1rem; }
        section#mycontact .form_box .form_value form .inputbox label {
          position: absolute;
          top: 50%;
          left: .25rem;
          transform: translateY(-50%);
          transition: .5s; }
        section#mycontact .form_box .form_value form .inputbox input {
          width: 100%;
          height: 2.5rem;
          background: transparent;
          border: none;
          outline: none;
          padding: 0 1.5rem 0 .25rem;
          color: lime; }
          section#mycontact .form_box .form_value form .inputbox input:focus ~ label,
          section#mycontact .form_box .form_value form .inputbox input:valid ~ label {
            top: -5px; }
      section#mycontact .form_box .form_value form .textarea {
        position: relative;
        grid-column: 1/ span 2;
        margin: 1.5rem 1.5rem 1.5rem 0; }
        section#mycontact .form_box .form_value form .textarea textarea {
          width: 100%;
          background: transparent;
          height: 5rem;
          max-height: 5rem;
          color: lime;
          border: 1px solid white; }
      section#mycontact .form_box .form_value form .buttonarea {
        grid-column: 1/ span 2;
        text-align: center;
        margin-top: 2rem; }

section#contact_info {
  position: relative; }
  section#contact_info div.cmain {
    background: url("../img/10.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    font-size: 1.5rem;
    z-index: -1; }
    section#contact_info div.cmain::before {
      content: " ";
      background: rgba(0, 0, 0, 0.4);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1; }
    section#contact_info div.cmain .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: greenyellow;
      font-weight: 750;
      padding: 10rem 0; }
      section#contact_info div.cmain .container div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        section#contact_info div.cmain .container div i {
          font-size: 1.7rem; }

footer.gunduz {
  background: linear-gradient(135deg, cyan, whitesmoke, grey);
  color: black;
  font-weight: 600; }
  footer.gunduz .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); }
  footer.gunduz #footer_1 {
    text-align: justify;
    padding: 2rem 2rem 0; }
  footer.gunduz #footer_2 {
    text-align: center;
    padding: 2rem 0; }
  footer.gunduz #footer_3 {
    padding: 2rem 2rem; }
    footer.gunduz #footer_3 div {
      display: flex;
      justify-content: space-between; }
      footer.gunduz #footer_3 div a i {
        font-size: 2.3rem;
        color: black;
        transition: 1s; }
        footer.gunduz #footer_3 div a i:hover {
          color: darkblue; }
  footer.gunduz #footer_4 {
    grid-column: 1/ span 3;
    text-align: center; }

.btna {
  position: relative;
  color: #1670f0;
  padding: 0.3rem .7rem;
  font-size: 1.5rem;
  letter-spacing: .1rem;
  text-decoration: none;
  background: linear-gradient(to right, aqua, antiquewhite);
  box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.5);
  /* &:hover
            span
                &:nth-child(1)
                    animation: animate1 2s linear infinite
                &:nth-child(2)
                    animation: animate2 2s linear infinite
                &:nth-child(3)
                    animation: animate3 2s linear infinite
                &:nth-child(4)
                    animation: animate4 2s linear infinite */ }
  .btna::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 30%;
    background: rgba(0, 0, 0, 0.05); }
  .btna span:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: .1rem;
    background: linear-gradient(to right, antiquewhite, #0c002b);
    animation: animate1 1s linear alternate infinite; }
  .btna span:nth-child(2) {
    position: absolute;
    top: 0;
    right: 0;
    width: .1rem;
    height: 100%;
    background: linear-gradient(to bottom, antiquewhite, #0c002b);
    animation: animate2 1s linear alternate infinite; }
  .btna span:nth-child(3) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: .1rem;
    background: linear-gradient(to left, antiquewhite, #0c002b);
    animation: animate3 1s linear alternate infinite; }
  .btna span:nth-child(4) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: .1rem;
    height: 100%;
    background: linear-gradient(to top, antiquewhite, #0c002b);
    animation: animate4 1s linear alternate infinite; }

footer.gece {
  background: linear-gradient(45deg, black, dimgrey);
  color: white;
  margin-top: 10rem;
  font-weight: 600; }
  footer.gece .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); }
  footer.gece #footer_1 {
    text-align: justify;
    padding: 2rem 2rem 0; }
  footer.gece #footer_2 {
    text-align: center;
    padding: 2rem 0; }
  footer.gece #footer_3 {
    padding: 2rem 2rem; }
    footer.gece #footer_3 div {
      display: flex;
      justify-content: space-between; }
      footer.gece #footer_3 div a i {
        font-size: 2.3rem;
        color: greenyellow;
        transition: 1s; }
        footer.gece #footer_3 div a i:hover {
          color: cyan; }
  footer.gece #footer_4 {
    grid-column: 1/ span 3;
    text-align: center; }
  footer.gece .btna {
    position: relative;
    color: #1670f0;
    padding: 0.3rem .7rem;
    font-size: 1.5rem;
    letter-spacing: .1rem;
    text-decoration: none;
    background: linear-gradient(to right, lime, dimgrey);
    box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.5);
    /* &:hover
            span
                &:nth-child(1)
                    animation: animate1 2s linear infinite
                &:nth-child(2)
                    animation: animate2 2s linear infinite
                &:nth-child(3)
                    animation: animate3 2s linear infinite
                &:nth-child(4)
                    animation: animate4 2s linear infinite */ }
    footer.gece .btna::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 30%;
      background: rgba(0, 0, 0, 0.05); }
    footer.gece .btna span:nth-child(1) {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: .1rem;
      background: linear-gradient(to right, aqua, #0c002b);
      animation: animate1 1s linear alternate infinite; }
    footer.gece .btna span:nth-child(2) {
      position: absolute;
      top: 0;
      right: 0;
      width: .1rem;
      height: 100%;
      background: linear-gradient(to bottom, aqua, #0c002b);
      animation: animate2 1s linear alternate infinite; }
    footer.gece .btna span:nth-child(3) {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: .1rem;
      background: linear-gradient(to left, aqua, #0c002b);
      animation: animate3 1s linear alternate infinite; }
    footer.gece .btna span:nth-child(4) {
      position: absolute;
      bottom: 0;
      left: 0;
      width: .1rem;
      height: 100%;
      background: linear-gradient(to top, aqua, #0c002b);
      animation: animate4 1s linear alternate infinite; }

@keyframes animate1 {
  0% {
    transform: translateX(-100%); }
  100% {
    transform: translateX(100%); } }

@keyframes animate2 {
  0% {
    transform: translateY(-100%); }
  100% {
    transform: translateY(100%); } }

@keyframes animate3 {
  0% {
    transform: translateX(100%); }
  100% {
    transform: translateX(-100%); } }

@keyframes animate4 {
  0% {
    transform: translateY(100%); }
  100% {
    transform: translateY(-100%); } }

.nav-item {
  padding-right: 10px; }
  .nav-item a.active {
    border-bottom: 2px solid black; }
  .nav-item a:hover {
    border-bottom: 2px solid brown; }

#banner {
  height: 100vh; }
  #banner #carouselExample {
    height: 100vh; }
    #banner #carouselExample img {
      height: 91vh;
      filter: blur(10px); }

.swiper {
  width: 80vw;
  height: 80vh;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -40vw;
  margin-top: -37vh; }
  .swiper .swiper-slide {
    background-position: center;
    background-size: cover; }
    .swiper .swiper-slide .imgBox {
      position: absolute;
      width: 80vw;
      height: 80vh; }
      .swiper .swiper-slide .imgBox img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .swiper .swiper-slide .content {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 80px;
      background: #fff;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center; }
      .swiper .swiper-slide .content h2 {
        font-size: 1.5rem; }
        .swiper .swiper-slide .content h2 span {
          font-size: 1.2rem;
          color: darkblue; }
  .swiper-button-next, .swiper-button-prev {
    display: none; }

.carousel-item {
  transition-duration: 1.75s; }

#content {
  width: 100%; }
  #content .my_icons {
    display: flex;
    align-items: center; }
    #content .my_icons div {
      font-size: 2.5rem; }
      #content .my_icons div.ficon {
        background: linear-gradient(45deg, aqua, blue);
        width: 25%; }
        #content .my_icons div.ficon div {
          margin-top: 4rem;
          margin-bottom: 4rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center; }
      #content .my_icons div.sicon {
        background: linear-gradient(45deg, lime, greenyellow);
        width: 25%; }
        #content .my_icons div.sicon div {
          margin-top: 4rem;
          margin-bottom: 4rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center; }
      #content .my_icons div.thicon {
        background: linear-gradient(45deg, aqua, blue);
        width: 25%; }
        #content .my_icons div.thicon div {
          margin-top: 4rem;
          margin-bottom: 4rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center; }
      #content .my_icons div.licon {
        background: linear-gradient(45deg, lime, greenyellow);
        width: 25%; }
        #content .my_icons div.licon div {
          margin-top: 4rem;
          margin-bottom: 4rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center; }

#profile {
  padding-bottom: 2rem; }
  #profile #iconpart {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center; }
    #profile #iconpart .first {
      background: linear-gradient(45deg, aqua, blue);
      margin: 3rem; }
      #profile #iconpart .first .second {
        background: linear-gradient(45deg, lime, greenyellow);
        width: 10rem;
        height: 10rem;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 2s; }
        #profile #iconpart .first .second:hover {
          rotate: 45deg; }
