* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 20px;
  font-family: 'Crimson Text', serif; }

body.gece {
  background: linear-gradient(to right, darkblue, dimgrey); }

body.gunduz {
  background: linear-gradient(to left, antiquewhite, grey); }

nav.gece {
  background: linear-gradient(to left, black, black); }
  nav.gece .nav-link {
    color: lime !important; }

nav.gunduz {
  background: linear-gradient(to left, white, white); }
  nav.gunduz .nav-link {
    color: darkblue !important; }

.nav-item {
  padding-right: 10px; }
  .nav-item a.active {
    border-bottom: 2px solid black; }
  .nav-item a:hover {
    border-bottom: 2px solid brown; }

#banner {
  height: 100vh; }
  #banner #carouselExample {
    height: 100vh; }
    #banner #carouselExample img {
      height: 91vh;
      filter: blur(10px); }

.swiper {
  width: 80vw;
  height: 80vh;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -40vw;
  margin-top: -37vh; }
  .swiper .swiper-slide {
    background-position: center;
    background-size: cover; }
    .swiper .swiper-slide .imgBox {
      position: absolute;
      width: 80vw;
      height: 80vh; }
      .swiper .swiper-slide .imgBox img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .swiper .swiper-slide .content {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 80px;
      background: #fff;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center; }
      .swiper .swiper-slide .content h2 {
        font-size: 1.5rem; }
        .swiper .swiper-slide .content h2 span {
          font-size: 1.2rem;
          color: darkblue; }
  .swiper-button-next, .swiper-button-prev {
    display: none; }

.carousel-item {
  transition-duration: 1.75s; }

#content {
  width: 100%; }
  #content .my_icons {
    display: flex;
    align-items: center; }
    #content .my_icons div {
      font-size: 2.5rem;
      color: black; }
      #content .my_icons div.ficon {
        background: linear-gradient(45deg, aqua, blue);
        width: 25%; }
        #content .my_icons div.ficon div {
          margin-top: 4rem;
          margin-bottom: 4rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center; }
      #content .my_icons div.sicon {
        background: linear-gradient(45deg, lime, greenyellow);
        width: 25%; }
        #content .my_icons div.sicon div {
          margin-top: 4rem;
          margin-bottom: 4rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center; }
      #content .my_icons div.thicon {
        background: linear-gradient(45deg, aqua, blue);
        width: 25%; }
        #content .my_icons div.thicon div {
          margin-top: 4rem;
          margin-bottom: 4rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center; }
      #content .my_icons div.licon {
        background: linear-gradient(45deg, lime, greenyellow);
        width: 25%; }
        #content .my_icons div.licon div {
          margin-top: 4rem;
          margin-bottom: 4rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center; }
