.nav-item
    padding-right: 10px
    z-index: 20
    
    a
        &.active
            border-bottom: 2px solid black
            z-index: 25

        &:hover
            border-bottom: 2px solid brown
            z-index: 25
            