*
    margin: 0
    padding: 0
    box-sizing: border-box

html
    font-size: 20px
    font-family: 'Crimson Text', serif
    
body.gece
    background: linear-gradient(to right, darkblue, dimgrey)

body.gunduz
    background: linear-gradient(to left, antiquewhite, grey)

nav.gece
    background: linear-gradient(to left, black, black)
    
    .nav-link
        color: lime!important

nav.gunduz
    background: linear-gradient(to left, white, white)

    .nav-link
        color: darkblue!important